@model MvcBoardAdmin.Models.Comment.CommentDetailViewModel;

@{
  
}

<link rel="stylesheet" href="@(Url.Content("~/css/comment_detail.css"))" />

<div id="comment_detail" class="comment_detail">

    @if (Model.Response.ResultCode == 200)
    {
        <hr />

        <div class="actions">
            <dlv class="board_and_title">
                <div class="category_btn">
                    <a>@Model.CommentDetail.BoardName</a>
                </div>
                <div class="post_title">
                    <a asp-area="" asp-controller="Post" asp-action="index" asp-route-SearchFilter="PostId" asp-route-SearchWord="@Model.CommentDetail.PostId">
                        @Model.CommentDetail.PostTitle
                    </a>
                </div>
            </dlv>
            
            <div class="action_icons">
                <button type="button" onclick="CommentDetailExit()" class=" btn btn-outline-secondary btn-sm edit_button">닫기</button>
            </div>
        </div>

        <div class="comment_item">
            <div class="comment_item_head">
                <div class="left">
                    <div class="icon_img"></div>
                    <span class="user_name">@Model.CommentDetail.UserName</span>
                    @if (Model.CommentDetail.IsPostWriter)
                    {
                        <span class="post_writer">글쓴이</span>
                    }
                    <svg width="3" height="4" viewBox="0 0 3 4" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="1.5" cy="2" r="1.5" fill="#D8D8D8"></circle></svg>
                    <span class="date">@Model.CommentDetail.CreateDate.ToString("yyyy.MM.dd")</span>
                </div>
                @* <div class="right">
                </div> *@
            </div>
            <div class="comment_item_body @(Model.CommentDetail.IsDeleted? "deleted" : "") @(Model.CommentDetail.IsBlinded? "blinded" : "")">
                @Model.CommentDetail.Contents
            </div>
        </div>
    }
</div>

<script>

    /* 최초 생성 시 ResultCode 에 따른 처리 */
    (function () {
        var msg = @Html.Raw(Json.Serialize(Model.Response.Message)); // Message 또는 ErrorMessage(Array) 출력
        if (@Model.Response.ResultCode != 200) {
            ShowAlert(msg, true);
            CommentDetailExit();
        }

        ScrollTo("#comment_detail");

        // TODO 댓글 리스트 조회

    })();
    
    /* PartialView 닫기 */
    function CommentDetailExit() {
        $("#comment_detail").remove();
    }

    function ScrollTo(TargetDivId) {
        var offset = $(TargetDivId).offset().top; //해당 위치 반환

        // 방법 1
        // $("TargetDivId").focus();

        // 방법 2
        $("html, body").animate({ scrollTop: offset }, 0); // 선택한 위치로 이동 (두번째 인자는 animate 시간)
    }
   
</script>