@using MvcBoard.Models.Community;
@model MvcBoard.Models.Community.CommentsViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
         /*
         TODO
         - 대댓글 있으므로 추가 가공 (정렬?) 필요 - 이건 좀 알아볼 것
         - 댓글 아이템에서 답글 쓰기 버튼 누르면 댓글창 달리도록 처리 필요
         - 페이지 인디케이터 (게시글, 댓글) PartialView 로 빼기
    */
}
<div class="comments_area">
    <div class="comments_list">
        @* todo 댓글 UI*@

        @foreach (var item in Model.CommentListData)
        {
            <div class="comment_item">
                <div class="comment_item_head">
                    <div class="left">
                        <div class="icon_img"></div>
                        <span class="user_name">@item.UserName</span>
                        @if (item.IsCurrunLoginUser) {
                            <span class="post_writer">글쓴이</span> 
                        }
                        <svg width="3" height="4" viewBox="0 0 3 4" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="1.5" cy="2" r="1.5" fill="#D8D8D8"></circle></svg>
                        <span class="date">@item.CreateDate.ToString("yyyy.MM.dd")</span>
                    </div>
                    <div class="right">
                        @if (item.IsCurrunLoginUser) {
                            <span class="delete_btn" onclick='' style="cursor: pointer">수정</span> @*TODO *@
                            <span class="delete_btn" onclick='DeleteComment(@item.CommentId, @Model.CommentPage)' style="cursor: pointer">삭제</span>
                            @* 아래는 data 속성을 이용하는 방법 *@
                            @* <span class="delete-comment" data-comment-id="@item.CommentId" data-comment-page="@Model.CommentPage" style="cursor: pointer">삭제</span> *@
                        }
                        <div class="options_btn">
                            @* <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2240_14916)"><path d="M3.75 8.75C3.0625 8.75 2.5 9.3125 2.5 10C2.5 10.6875 3.0625 11.25 3.75 11.25C4.4375 11.25 5 10.6875 5 10C5 9.3125 4.4375 8.75 3.75 8.75ZM16.25 8.75C15.5625 8.75 15 9.3125 15 10C15 10.6875 15.5625 11.25 16.25 11.25C16.9375 11.25 17.5 10.6875 17.5 10C17.5 9.3125 16.9375 8.75 16.25 8.75ZM10 8.75C9.3125 8.75 8.75 9.3125 8.75 10C8.75 10.6875 9.3125 11.25 10 11.25C10.6875 11.25 11.25 10.6875 11.25 10C11.25 9.3125 10.6875 8.75 10 8.75Z" fill="black"></path></g><defs><clipPath id="clip0_2240_14916"><rect width="20" height="20" fill="white"></rect></clipPath></defs></svg> *@
                        </div>
                    </div>
                </div>
                <div class="comment_item_body">
                    @item.Contents
                </div>
                <div class="comment_item_footer">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9987 2C13.024 2 14.6654 3.66667 14.6654 6C14.6654 10.6667 9.66537 13.3333 7.9987 14.3333C6.33203 13.3333 1.33203 10.6667 1.33203 6C1.33203 3.66667 2.9987 2 4.9987 2C6.2387 2 7.33203 2.66667 7.9987 3.33333C8.66536 2.66667 9.7587 2 10.9987 2ZM8.62136 12.4027C9.17949 12.0545 9.71808 11.6759 10.2347 11.2687C12.222 9.68867 13.332 7.962 13.332 6C13.332 4.42667 12.3074 3.33333 10.9987 3.33333C10.2814 3.33333 9.50536 3.71333 8.94136 4.276L7.9987 5.21867L7.05603 4.276C6.49203 3.71333 5.71603 3.33333 4.9987 3.33333C3.70536 3.33333 2.66536 4.43733 2.66536 6C2.66536 7.96267 3.77603 9.68867 5.76203 11.2687C6.2587 11.6633 6.7887 12.032 7.37603 12.402C7.57536 12.528 7.7727 12.6487 7.9987 12.7833C8.2247 12.6487 8.42203 12.528 8.62136 12.4027Z" fill="#D8D8D8"></path></svg>
                    <span>좋아요</span>
                    <svg width="16" height="16" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.36305 9.91667H11.668V2.91667H2.33464V10.7246L3.36305 9.91667ZM3.76672 11.0833L1.16797 13.125V2.33333C1.16797 2.17862 1.22943 2.03025 1.33882 1.92085C1.44822 1.81146 1.59659 1.75 1.7513 1.75H12.2513C12.406 1.75 12.5544 1.81146 12.6638 1.92085C12.7732 2.03025 12.8346 2.17862 12.8346 2.33333V10.5C12.8346 10.6547 12.7732 10.8031 12.6638 10.9125C12.5544 11.0219 12.406 11.0833 12.2513 11.0833H3.76672Z" fill="#D8D8D8"></path></svg>
                    <span>답글 쓰기</span>
                </div>
            </div>
        }

        @* TODO 왜 UpdateTargetId 에 PartialView 가 그려지지 않고 전체 페이지로 로드 되는지 모르겠다.. *@
        
        @using (Html.AjaxBeginForm("DeleteComment", "Community", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "commentList2" }, new { @id = "delete_comment_form" }))
        {
            @Html.Hidden("CommentId", new { @value = 0 }, new { @id="delete_target_commentId" }) // javascript 에서 설정
            @Html.Hidden("PostId", new { @value = Model.PostId })
            @Html.Hidden("Page", new { @value = Model.PostId })
            @Html.Hidden("CommentPage", new { @value = 1 }) /* Model.PostId */ 
            @Html.Hidden("Category", new { @value = Model.Category })
        }

    </div>

    @* <div id="commentList2">테스트</div> *@

    @* 페이지 인디케이터 영역 *@
    @{
        // TODO 가능하면 간소화 필요
        int page = Model.CommentPage ?? 1;
        int count = CommentsViewModel.DisplayPageCount;
        int first_center_index = count / 2 + 1;
        int start = Math.Max(page - (count - 1) / 2, 1);
        int offset_left = (first_center_index > page) ? first_center_index - page : 0;
        int end = Math.Min(page + offset_left + (count - 1) / 2, Model.CommentPageCount);
        int offset_right = (start + count - 1) - end;

        start = Math.Max(start - offset_right, 1);

        Console.WriteLine($"####### page: {page}, offset: [{offset_left}, {offset_right}], start: {start}, end: {end}, display: {CommentsViewModel.DisplayPageCount}");

        if (Model.CommentListData.Count > 0)
        {
            <div class="page_indicator">
                <a asp-area="" asp-controller="Community" asp-action="View" asp-route-postId=@Model.PostId asp-route-category=@Model.Category asp-route-page=@Model.Page asp-route-CommentPage="1">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="#C4C4C4"></rect><path d="M9.99999 9.33317L14.6115 6.25867C14.6491 6.23362 14.6929 6.21924 14.738 6.21708C14.7832 6.21492 14.8281 6.22505 14.868 6.2464C14.9079 6.26774 14.9412 6.2995 14.9644 6.33829C14.9877 6.37708 15 6.42145 15 6.46667V13.5327C15 13.5779 14.9877 13.6223 14.9644 13.661C14.9412 13.6998 14.9079 13.7316 14.868 13.7529C14.8281 13.7743 14.7832 13.7844 14.738 13.7823C14.6929 13.7801 14.6491 13.7657 14.6115 13.7407L9.99999 10.6662V13.5327C9.99997 13.5779 9.98768 13.6223 9.96443 13.661C9.94119 13.6998 9.90786 13.7316 9.86799 13.7529C9.82812 13.7743 9.78321 13.7844 9.73804 13.7823C9.69287 13.7801 9.64914 13.7657 9.61149 13.7407L4.31199 10.2077C4.27775 10.1848 4.24968 10.1539 4.23026 10.1176C4.21084 10.0813 4.20068 10.0408 4.20068 9.99967C4.20068 9.95851 4.21084 9.918 4.23026 9.88171C4.24968 9.84543 4.27775 9.8145 4.31199 9.79167L9.61149 6.25867C9.64914 6.23362 9.69287 6.21924 9.73804 6.21708C9.78321 6.21492 9.82812 6.22505 9.86799 6.2464C9.90786 6.26774 9.94119 6.2995 9.96443 6.33829C9.98768 6.37708 9.99997 6.42145 9.99999 6.46667V9.33317Z" fill="white"></path></svg>
                    처음
                </a>

                @for (var i = start; i <= end; i++)
                {
                    <a class=@(i == Model.CommentPage ? "selected" : "") asp-area="" asp-controller="Community" asp-action="View" asp-route-postId=@Model.PostId asp-route-category=@Model.Category asp-route-page=@Model.Page asp-route-CommentPage=@i>@i</a>
                }

                <a asp-area="" asp-controller="Community" asp-action="View" asp-route-postId=@Model.PostId asp-route-category=@Model.Category asp-route-page=@Model.Page asp-route-CommentPage=@Model.CommentPageCount>
                    마지막
                    <svg style="transform: rotate(180deg)" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="#C4C4C4"></rect><path d="M9.99999 9.33317L14.6115 6.25867C14.6491 6.23362 14.6929 6.21924 14.738 6.21708C14.7832 6.21492 14.8281 6.22505 14.868 6.2464C14.9079 6.26774 14.9412 6.2995 14.9644 6.33829C14.9877 6.37708 15 6.42145 15 6.46667V13.5327C15 13.5779 14.9877 13.6223 14.9644 13.661C14.9412 13.6998 14.9079 13.7316 14.868 13.7529C14.8281 13.7743 14.7832 13.7844 14.738 13.7823C14.6929 13.7801 14.6491 13.7657 14.6115 13.7407L9.99999 10.6662V13.5327C9.99997 13.5779 9.98768 13.6223 9.96443 13.661C9.94119 13.6998 9.90786 13.7316 9.86799 13.7529C9.82812 13.7743 9.78321 13.7844 9.73804 13.7823C9.69287 13.7801 9.64914 13.7657 9.61149 13.7407L4.31199 10.2077C4.27775 10.1848 4.24968 10.1539 4.23026 10.1176C4.21084 10.0813 4.20068 10.0408 4.20068 9.99967C4.20068 9.95851 4.21084 9.918 4.23026 9.88171C4.24968 9.84543 4.27775 9.8145 4.31199 9.79167L9.61149 6.25867C9.64914 6.23362 9.69287 6.21924 9.73804 6.21708C9.78321 6.21492 9.82812 6.22505 9.86799 6.2464C9.90786 6.26774 9.94119 6.2995 9.96443 6.33829C9.98768 6.37708 9.99997 6.42145 9.99999 6.46667V9.33317Z" fill="white"></path></svg>
                </a>
            </div>
        }
    }
</div>

<script>

    // TODO 입력
    document.addEventListener('DOMContentLoaded', function () {
        var input = document.getElementById('_WriteComment_input');
        input.value = "";
    });

    /*
    // 댓글 삭제 버튼에 이벤트 리스너 추가
    // data 속성을 이용하는 방법
    document.addEventListener('click', function (event) {
        if (event.target.classList.contains('delete-comment')) {
            var commentId = event.target.dataset.commentId; // data-comment-id 속성 값 가져오기
            var commentPage = event.target.dataset.commentPage; // data-comment-page 속성 값 가져오기
            DeleteComment(commentId, commentPage);
        }
    });
    */

    function DeleteComment(commentId, commentPage) { // TODO commentPage 검토 필요 (삭제한 후에 해당 페이지가 삭제된 경우, 앞 페이지로 로드 처리 필요하기 때문)
        var postId = @Model.PostId
        var category = @Model.Category

        // hidden dom element 값 설정해서 submit
        var target = document.getElementById('delete_target_commentId');

        target.value = commentId;

        $('#delete_comment_form').submit();
    }

</script>