@model MvcBoard.Models.Community.WriteCommentParams;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using (Html.AjaxBeginForm("WriteComment", "Community", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "commentList" }))
{
    <div class="input_area">
        <div class="container">

            <div class="anonymous">
                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.33333 2.49976H16.6667C16.8877 2.49976 17.0996 2.58755 17.2559 2.74383C17.4122 2.90011 17.5 3.11208 17.5 3.33309V16.6664C17.5 16.8874 17.4122 17.0994 17.2559 17.2557C17.0996 17.412 16.8877 17.4998 16.6667 17.4998H3.33333C3.11232 17.4998 2.90036 17.412 2.74408 17.2557C2.5878 17.0994 2.5 16.8874 2.5 16.6664V3.33309C2.5 3.11208 2.5878 2.90011 2.74408 2.74383C2.90036 2.58755 3.11232 2.49976 3.33333 2.49976ZM4.16667 4.16642V15.8331H15.8333V4.16642H4.16667Z" fill="#EC2756"></path></svg>
                <span class="label">익명</span> @* TODO 익명 여부 Checkbox *@
                @Html.HiddenFor(model => model.IsAnonymous, new { @value = Model.IsAnonymous })
            </div>

            @Html.HiddenFor(model => model.PostId, new { @value = Model.PostId })
            @Html.HiddenFor(model => model.UserId, new { @value = Model.UserId })
            @Html.HiddenFor(model => model.ParentId, new { @value = Model.ParentId })

            @Html.HiddenFor(model => model.ViewParams.PostId, new { @value = Model.ViewParams.PostId})
            @Html.HiddenFor(model => model.ViewParams.Page, new { @value = Model.ViewParams.Page })
            @Html.HiddenFor(model => model.ViewParams.CommentPage, new { @value = Model.ViewParams.CommentPage })
            @Html.HiddenFor(model => model.ViewParams.Category, new { @value = Model.ViewParams.Category })

            @Html.TextBoxFor(model => model.Contents, new { @id = "_WriteComment_input", @class = "comment_input", @placeholder = "댓글을 입력해주세요.", @autoComplete = "off" })

            @* <button type="button" class="img_button"> *@
            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.02464 18L4.00797 18.0167L3.99047 18H2.49464C2.27531 17.9998 2.06505 17.9125 1.91004 17.7573C1.75504 17.6022 1.66797 17.3918 1.66797 17.1725V3.8275C1.66949 3.60865 1.75705 3.39918 1.91173 3.24435C2.06641 3.08951 2.27579 3.00175 2.49464 3H17.508C17.9646 3 18.3346 3.37083 18.3346 3.8275V17.1725C18.3331 17.3914 18.2456 17.6008 18.0909 17.7557C17.9362 17.9105 17.7268 17.9983 17.508 18H4.02464ZM16.668 13V4.66667H3.33464V16.3333L11.668 8L16.668 13ZM16.668 15.3567L11.668 10.3567L5.6913 16.3333H16.668V15.3567ZM6.66797 9.66667C6.22594 9.66667 5.80202 9.49107 5.48946 9.17851C5.1769 8.86595 5.0013 8.44203 5.0013 8C5.0013 7.55797 5.1769 7.13405 5.48946 6.82149C5.80202 6.50893 6.22594 6.33333 6.66797 6.33333C7.11 6.33333 7.53392 6.50893 7.84648 6.82149C8.15904 7.13405 8.33464 7.55797 8.33464 8C8.33464 8.44203 8.15904 8.86595 7.84648 9.17851C7.53392 9.49107 7.11 9.66667 6.66797 9.66667Z" fill="#333333"></path></svg>
            @* </button> *@

        </div>
        @* TODO 댓글 내용이 입력 되지 않으면 눌러도 동작을 안하도록 해야함 *@
        <button type="submit" id="_WriteComment_submit_btn" class="btn btn-secondary comment_button">등록</button> @* TODO html heler? *@
    </div>
}

<script>

    // 댓글창에 입력된 값이 없는 경우, form 전송하지 않음
    document.addEventListener('DOMContentLoaded', function () {

        var submitButton = document.getElementById('_WriteComment_submit_btn'); // 만약 이 Partial View 가 상위 페이지 내에 여러개 존재한다면 문제될 수 있음
        var textBox = document.getElementById('_WriteComment_input');

        submitButton.addEventListener('click', function (event) {
            /*
            if (textBox.value.trim() === '') {
                event.preventDefault();
            }
            */
            if (textBox.value.trim().length == 0) {
                event.preventDefault();
            }
        });

        /*
        댓글 등록 후 값 지우기
        setTimeout(function () {
            var input = document.getElementById('_WriteComment_input');
            textBox.value = "";
        }, 0);
        */

    });


</script>