@using MvcBoard.Models.Community
@model MvcBoard.Models.Community.BoardViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var BoardTitle = "인기 게시판"; // Category 값에 따라 변경 필요 (Controller 에서 변경된 상태로 넘겨주거나)

    ViewData["Title"] = BoardTitle;
}

<div class="community">

    <aside class="community_aside_left">

        @* 로그인 정보 Partial View *@
        <div id="user_info_container"></div>
        @using (Html.AjaxBeginForm("UserInformation", "User", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "user_info_container" }, new { id = "UserInformationForm" })) { }

        @* 게시판 네비게이션 메뉴 Partail View *@
        <div id="board_nav_container"></div>
        @using (Html.AjaxBeginForm("BoardNavigationMenu", "Community", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "board_nav_container" }, new { id = "BoardNavigationMenuForm" }))
        {
            @Html.Hidden("selectedCategory", Model.Category)
        }

    </aside>

    <div class="community_main">
        <h3>@BoardTitle</h3>
        <hr />

        <div class="category_dropbox">게시판 선택 (드롭 박스) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 태그 없음 (드롭 박스)</div>

        <div class="rating_filter">실시간 주간 월간 버튼 영역 (미구현)</div>

        @* 게시판 영역 *@
        <div class="board">

            <div class="item labels">
                <div class="category">게시판</div>
                <div class="title">제목</div>
                <div class="writer">작성자</div>
                <div class="date">날짜</div>
                <div class="views">조회수</div>
            </div>

            @foreach (var item in Model.PostListData)
            {
                <div class="item post @(item.Category == 99 ? "notice" : "")"> @* TODO item.IsNotice *@
                    <div class="category">자유 게시판</div> @*TODO Category 에 따라 *@
                    <div class="title">
                        <a asp-area="" asp-controller="Community" asp-action="View"
                           asp-route-postId="@item.PostId"
                           asp-route-page=@Model.Page
                           asp-route-category=@Model.Category
                           asp-route-commentPage=@null>@item.Title</a>
                    </div> @* 클릭 시 페이지 이동 처리 필요*@
                    <div class="writer">@item.UserName</div>
                    <div class="date">@(item.CreateDate?.ToString("yyyy.MM.dd"))</div> @* 7일 전 처리 필요 *@
                    <div class="views">@item.Views</div>
                </div>
            }
        </div>

        @* 페이지 인디케이터 영역 *@
        @{
            // TODO 가능하면 간소화 필요
            int page = Model.Page ?? 1;
            int count = BoardViewModel.DisplayPageCount;
            int first_center_index = count / 2 + 1;
            int start = Math.Max(page - (count - 1) / 2, 1);
            int offset_left = (first_center_index > page) ? first_center_index - page : 0;
            int end = Math.Min(page + offset_left + (count - 1) / 2, Model.PageCount);
            int offset_right = (start + count - 1) - end;

            start = Math.Max(start - offset_right, 1);

            Console.WriteLine($"####### page: {page}, offset: [{offset_left}, {offset_right}], start: {start}, end: {end}, display: {BoardViewModel.DisplayPageCount}");

            if (Model.PostListData.Count > 0)
            {
                <div class="page_indicator">
                    <a asp-area="" asp-controller="Community" asp-action="Hot" asp-route-category=@Model.Category asp-route-page=1>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="#C4C4C4"></rect><path d="M9.99999 9.33317L14.6115 6.25867C14.6491 6.23362 14.6929 6.21924 14.738 6.21708C14.7832 6.21492 14.8281 6.22505 14.868 6.2464C14.9079 6.26774 14.9412 6.2995 14.9644 6.33829C14.9877 6.37708 15 6.42145 15 6.46667V13.5327C15 13.5779 14.9877 13.6223 14.9644 13.661C14.9412 13.6998 14.9079 13.7316 14.868 13.7529C14.8281 13.7743 14.7832 13.7844 14.738 13.7823C14.6929 13.7801 14.6491 13.7657 14.6115 13.7407L9.99999 10.6662V13.5327C9.99997 13.5779 9.98768 13.6223 9.96443 13.661C9.94119 13.6998 9.90786 13.7316 9.86799 13.7529C9.82812 13.7743 9.78321 13.7844 9.73804 13.7823C9.69287 13.7801 9.64914 13.7657 9.61149 13.7407L4.31199 10.2077C4.27775 10.1848 4.24968 10.1539 4.23026 10.1176C4.21084 10.0813 4.20068 10.0408 4.20068 9.99967C4.20068 9.95851 4.21084 9.918 4.23026 9.88171C4.24968 9.84543 4.27775 9.8145 4.31199 9.79167L9.61149 6.25867C9.64914 6.23362 9.69287 6.21924 9.73804 6.21708C9.78321 6.21492 9.82812 6.22505 9.86799 6.2464C9.90786 6.26774 9.94119 6.2995 9.96443 6.33829C9.98768 6.37708 9.99997 6.42145 9.99999 6.46667V9.33317Z" fill="white"></path></svg>
                        처음
                    </a>

                    @for (var i = start; i <= end; i++)
                    {
                        <a class=@(i == Model.Page ? "selected" : "") asp-area="" asp-controller="Community" asp-action="Hot" asp-route-category=@Model.Category asp-route-page=@i>@i</a>
                    }

                    <a asp-area="" asp-controller="Community" asp-action="Hot" asp-route-category=@Model.Category asp-route-page=@Model.PageCount>
                        마지막
                        <svg style="transform: rotate(180deg)" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="#C4C4C4"></rect><path d="M9.99999 9.33317L14.6115 6.25867C14.6491 6.23362 14.6929 6.21924 14.738 6.21708C14.7832 6.21492 14.8281 6.22505 14.868 6.2464C14.9079 6.26774 14.9412 6.2995 14.9644 6.33829C14.9877 6.37708 15 6.42145 15 6.46667V13.5327C15 13.5779 14.9877 13.6223 14.9644 13.661C14.9412 13.6998 14.9079 13.7316 14.868 13.7529C14.8281 13.7743 14.7832 13.7844 14.738 13.7823C14.6929 13.7801 14.6491 13.7657 14.6115 13.7407L9.99999 10.6662V13.5327C9.99997 13.5779 9.98768 13.6223 9.96443 13.661C9.94119 13.6998 9.90786 13.7316 9.86799 13.7529C9.82812 13.7743 9.78321 13.7844 9.73804 13.7823C9.69287 13.7801 9.64914 13.7657 9.61149 13.7407L4.31199 10.2077C4.27775 10.1848 4.24968 10.1539 4.23026 10.1176C4.21084 10.0813 4.20068 10.0408 4.20068 9.99967C4.20068 9.95851 4.21084 9.918 4.23026 9.88171C4.24968 9.84543 4.27775 9.8145 4.31199 9.79167L9.61149 6.25867C9.64914 6.23362 9.69287 6.21924 9.73804 6.21708C9.78321 6.21492 9.82812 6.22505 9.86799 6.2464C9.90786 6.26774 9.94119 6.2995 9.96443 6.33829C9.98768 6.37708 9.99997 6.42145 9.99999 6.46667V9.33317Z" fill="white"></path></svg>
                    </a>
                </div>
            }
        }

    </div>

    <aside class="community_aside_right">
        광고 배너 영역
    </aside>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 유저 정보 영역
        $('#UserInformationForm').submit();

        // 게시판 네비게이션 메뉴
        $('#BoardNavigationMenuForm').submit();
    });
</script>