@using MvcBoard.Models.Community;
@using MvcBoard.Controllers.Models;
@model MvcBoard.Models.Community.PostViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var BoardTitle = "자유 게시판"; // Category 값에 따라 변경 필요 (Controller 에서 변경된 상태로 넘겨주거나)

    ViewData["Title"] = Model.PostData.Title; // TODO 게시물 제목 넘기기

    var WriteCommentAnonymous = false;

    var AnonymousChecked = "M3.33333 2.49976H16.6667C16.8877 2.49976 17.0996 2.58755 17.2559 2.74383C17.4122 2.90011 17.5 3.11208 17.5 3.33309V16.6664C17.5 16.8874 17.4122 17.0994 17.2559 17.2557C17.0996 17.412 16.8877 17.4998 16.6667 17.4998H3.33333C3.11232 17.4998 2.90036 17.412 2.74408 17.2557C2.5878 17.0994 2.5 16.8874 2.5 16.6664V3.33309C2.5 3.11208 2.5878 2.90011 2.74408 2.74383C2.90036 2.58755 3.11232 2.49976 3.33333 2.49976ZM4.16667 4.16642V15.8331H15.8333V4.16642H4.16667Z";
    var AnonymousUnhecked = "M3.33333 2.49976H16.6667C16.8877 2.49976 17.0996 2.58755 17.2559 2.74383C17.4122 2.90011 17.5 3.11208 17.5 3.33309V16.6664C17.5 16.8874 17.4122 17.0994 17.2559 17.2557C17.0996 17.412 16.8877 17.4998 16.6667 17.4998H3.33333C3.11232 17.4998 2.90036 17.412 2.74408 17.2557C2.5878 17.0994 2.5 16.8874 2.5 16.6664V3.33309C2.5 3.11208 2.5878 2.90011 2.74408 2.74383C2.90036 2.58755 3.11232 2.49976 3.33333 2.49976ZM9.16917 13.3331L15.0608 7.44059L13.8825 6.26226L9.16917 10.9764L6.81167 8.61892L5.63333 9.79726L9.16917 13.3331Z";
}

<link rel="stylesheet" href="@(Url.Content("~/css/community/view.css"))" />

<div class="community">

    <aside class="community_aside_left">

        @* 로그인 정보 Partial View *@
        <div id="user_info_container"></div>
        @using (Html.AjaxBeginForm("UserInformation", "User", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "user_info_container" }, new { id = "UserInformationForm" })) { }

        @* 게시판 네비게이션 메뉴 Partail View *@
        <div id="board_nav_container"></div>
        @using (Html.AjaxBeginForm("BoardNavigationMenu", "Community", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "board_nav_container" }, new { id = "BoardNavigationMenuForm" }))
        {
            @Html.Hidden("selectedCategory", Model.Category)
        }

    </aside>

    <div class="community_main view">
        <h3>@BoardTitle</h3>
        <hr />

        @* 게시물 영역 *@
        <div class="post_area">

            <div class="actions">
                <div class="category_btn">
                    @* TODO category 에 따라 변경 *@
                    <a>자유게시판</a>
                </div>
                @* 북마크, 공유, 더보기 아이콘 *@
                @* TODO 임시로 더보기 아이콘을 수정 버튼으로 사용 *@
                <div class="action_icons">
                    @* 이걸 서버쪽에서 확인해서 파라미터로 넘겨주는게 맞을까, 아님 여기서 javscript 로 document.cookie 쿠키 읽어다 비교해야 할까 *@
                    @if (Model.PostData.IsCurrunLoginUser)
                    {
                        @* 수정 *@
                        <a asp-area="" asp-controller="Community" asp-action="Write" asp-route-PostId="@Model.PostData.PostId">
                            <div>수정</div>
                        </a>

                        @* 삭제 *@
                        <span onclick='deleteComfirm()' style="cursor: pointer">삭제</span>
                        @using (Html.BeginForm("DeletePost", "Community", FormMethod.Post, new { @id = "delete_post_form" }))
                        {
                            @Html.Hidden("postId", Model.PostData.PostId)
                        }
                    }
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.16536 1.66699H15.832C16.053 1.66699 16.265 1.75479 16.4213 1.91107C16.5776 2.06735 16.6654 2.27931 16.6654 2.50033V18.4528C16.6655 18.5273 16.6456 18.6005 16.6078 18.6647C16.57 18.7289 16.5157 18.7818 16.4505 18.8179C16.3853 18.854 16.3116 18.8719 16.2372 18.8699C16.1627 18.8678 16.0901 18.8458 16.027 18.8062L9.9987 15.0253L3.97036 18.8053C3.90734 18.8449 3.83485 18.8669 3.76045 18.869C3.68604 18.8711 3.61244 18.8532 3.54728 18.8173C3.48212 18.7813 3.42779 18.7285 3.38993 18.6644C3.35208 18.6003 3.33209 18.5273 3.33203 18.4528V2.50033C3.33203 2.27931 3.41983 2.06735 3.57611 1.91107C3.73239 1.75479 3.94435 1.66699 4.16536 1.66699ZM14.9987 3.33366H4.9987V16.1937L9.9987 13.0595L14.9987 16.1937V3.33366Z" fill="#000000"></path></svg>
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9348 14.1856L7.43564 12.2773C6.9788 12.7656 6.38563 13.1053 5.7332 13.2522C5.08077 13.399 4.39926 13.3462 3.77724 13.1006C3.15522 12.8551 2.62144 12.4281 2.24528 11.8751C1.86912 11.3222 1.66797 10.6689 1.66797 10.0002C1.66797 9.33143 1.86912 8.67815 2.24528 8.12523C2.62144 7.5723 3.15522 7.14531 3.77724 6.89973C4.39926 6.65415 5.08077 6.60135 5.7332 6.74819C6.38563 6.89503 6.9788 7.23471 7.43564 7.7231L10.9356 5.81476C10.7369 5.02816 10.8319 4.19609 11.2028 3.47451C11.5737 2.75294 12.1951 2.19141 12.9504 1.89518C13.7057 1.59895 14.5431 1.58835 15.3056 1.86537C16.0682 2.1424 16.7035 2.68803 17.0926 3.39998C17.4816 4.11193 17.5976 4.94134 17.4189 5.73272C17.2402 6.5241 16.7789 7.22313 16.1217 7.69877C15.4644 8.17442 14.6562 8.39402 13.8486 8.31642C13.041 8.23883 12.2895 7.86936 11.7348 7.27726L8.23481 9.1856C8.36914 9.72006 8.36914 10.2795 8.23481 10.8139L11.734 12.7223C12.2886 12.1302 13.0402 11.7607 13.8478 11.6831C14.6554 11.6055 15.4636 11.8251 16.1208 12.3008C16.7781 12.7764 17.2393 13.4754 17.4181 14.2668C17.5968 15.0582 17.4808 15.8876 17.0917 16.5995C16.7027 17.3115 16.0673 17.8571 15.3048 18.1342C14.5422 18.4112 13.7048 18.4006 12.9495 18.1043C12.1942 17.8081 11.5729 17.2466 11.202 16.525C10.8311 15.8034 10.7361 14.9714 10.9348 14.1848V14.1856ZM5.00147 11.6664C5.4435 11.6664 5.86742 11.4908 6.17998 11.1783C6.49255 10.8657 6.66814 10.4418 6.66814 9.99976C6.66814 9.55774 6.49255 9.13381 6.17998 8.82125C5.86742 8.50869 5.4435 8.3331 5.00147 8.3331C4.55945 8.3331 4.13552 8.50869 3.82296 8.82125C3.5104 9.13381 3.33481 9.55774 3.33481 9.99976C3.33481 10.4418 3.5104 10.8657 3.82296 11.1783C4.13552 11.4908 4.55945 11.6664 5.00147 11.6664ZM14.1681 6.66643C14.6102 6.66643 15.0341 6.49084 15.3467 6.17827C15.6592 5.86571 15.8348 5.44179 15.8348 4.99976C15.8348 4.55774 15.6592 4.13381 15.3467 3.82125C15.0341 3.50869 14.6102 3.3331 14.1681 3.3331C13.7261 3.3331 13.3022 3.50869 12.9896 3.82125C12.6771 4.13381 12.5015 4.55774 12.5015 4.99976C12.5015 5.44179 12.6771 5.86571 12.9896 6.17827C13.3022 6.49084 13.7261 6.66643 14.1681 6.66643ZM14.1681 16.6664C14.6102 16.6664 15.0341 16.4908 15.3467 16.1783C15.6592 15.8657 15.8348 15.4418 15.8348 14.9998C15.8348 14.5577 15.6592 14.1338 15.3467 13.8213C15.0341 13.5087 14.6102 13.3331 14.1681 13.3331C13.7261 13.3331 13.3022 13.5087 12.9896 13.8213C12.6771 14.1338 12.5015 14.5577 12.5015 14.9998C12.5015 15.4418 12.6771 15.8657 12.9896 16.1783C13.3022 16.4908 13.7261 16.6664 14.1681 16.6664Z" fill="black"></path></svg>
                    <svg id="UpdatePostIcon" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2240_14916)"><path d="M3.75 8.75C3.0625 8.75 2.5 9.3125 2.5 10C2.5 10.6875 3.0625 11.25 3.75 11.25C4.4375 11.25 5 10.6875 5 10C5 9.3125 4.4375 8.75 3.75 8.75ZM16.25 8.75C15.5625 8.75 15 9.3125 15 10C15 10.6875 15.5625 11.25 16.25 11.25C16.9375 11.25 17.5 10.6875 17.5 10C17.5 9.3125 16.9375 8.75 16.25 8.75ZM10 8.75C9.3125 8.75 8.75 9.3125 8.75 10C8.75 10.6875 9.3125 11.25 10 11.25C10.6875 11.25 11.25 10.6875 11.25 10C11.25 9.3125 10.6875 8.75 10 8.75Z" fill="black"></path></g><defs><clipPath id="clip0_2240_14916"><rect width="20" height="20" fill="white"></rect></clipPath></defs></svg>

                </div>
            </div>

            <div class="writer_and_views">
                <div class="writer_info">
                    <div class="icon_img">
                        @* <img /> *@
                    </div>
                    <div>
                        <div class="writer_name">@Model.PostData.UserName</div>
                        <div class="created_date">@Model.PostData.CreateDate</div>
                    </div>
                </div>
                <div class="view_count">
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00173 2.5C11.5964 2.5 14.5871 5.08667 15.2144 8.5C14.5877 11.9133 11.5964 14.5 8.00173 14.5C4.40706 14.5 1.4164 11.9133 0.789062 8.5C1.41573 5.08667 4.40706 2.5 8.00173 2.5ZM8.00173 13.1667C9.36138 13.1664 10.6807 12.7045 11.7436 11.8568C12.8066 11.009 13.5503 9.82552 13.8531 8.5C13.5492 7.17554 12.805 5.99334 11.7421 5.14668C10.6793 4.30003 9.3606 3.83902 8.00173 3.83902C6.64286 3.83902 5.32419 4.30003 4.26131 5.14668C3.19844 5.99334 2.45424 7.17554 2.1504 8.5C2.45313 9.82552 3.19685 11.009 4.25983 11.8568C5.32281 12.7045 6.64208 13.1664 8.00173 13.1667ZM8.00173 11.5C7.20608 11.5 6.44302 11.1839 5.88041 10.6213C5.3178 10.0587 5.00173 9.29565 5.00173 8.5C5.00173 7.70435 5.3178 6.94129 5.88041 6.37868C6.44302 5.81607 7.20608 5.5 8.00173 5.5C8.79738 5.5 9.56044 5.81607 10.123 6.37868C10.6857 6.94129 11.0017 7.70435 11.0017 8.5C11.0017 9.29565 10.6857 10.0587 10.123 10.6213C9.56044 11.1839 8.79738 11.5 8.00173 11.5ZM8.00173 10.1667C8.44376 10.1667 8.86768 9.99107 9.18024 9.67851C9.4928 9.36595 9.6684 8.94203 9.6684 8.5C9.6684 8.05797 9.4928 7.63405 9.18024 7.32149C8.86768 7.00893 8.44376 6.83333 8.00173 6.83333C7.5597 6.83333 7.13578 7.00893 6.82322 7.32149C6.51066 7.63405 6.33506 8.05797 6.33506 8.5C6.33506 8.94203 6.51066 9.36595 6.82322 9.67851C7.13578 9.99107 7.5597 10.1667 8.00173 10.1667Z" fill="#D8D8D8"></path></svg>
                    <sapn>514</sapn>
                </div>
            </div>
            <hr />

            <div class="post_title">@Model.PostData.Title</div>
            <div class="post_content">@Html.Raw(Model.PostData.Contents)</div>

            <div class="tag_list">
                @{
                    // TODO tag list 데이터로 연동 필요
                    string[] temp = { "밴드", "드럼", "보컬", "건반" };

                    @foreach (var tag in temp)
                    {
                        <div class="tag_item">
                            <span># @tag</span>
                        </div>
                    }
                }
            </div>

        </div>

        <div class="likes_and_comment">
            <span>
                <svg width="24" height="24" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9987 2C13.024 2 14.6654 3.66667 14.6654 6C14.6654 10.6667 9.66537 13.3333 7.9987 14.3333C6.33203 13.3333 1.33203 10.6667 1.33203 6C1.33203 3.66667 2.9987 2 4.9987 2C6.2387 2 7.33203 2.66667 7.9987 3.33333C8.66536 2.66667 9.7587 2 10.9987 2ZM8.62136 12.4027C9.17949 12.0545 9.71808 11.6759 10.2347 11.2687C12.222 9.68867 13.332 7.962 13.332 6C13.332 4.42667 12.3074 3.33333 10.9987 3.33333C10.2814 3.33333 9.50536 3.71333 8.94136 4.276L7.9987 5.21867L7.05603 4.276C6.49203 3.71333 5.71603 3.33333 4.9987 3.33333C3.70536 3.33333 2.66536 4.43733 2.66536 6C2.66536 7.96267 3.77603 9.68867 5.76203 11.2687C6.2587 11.6633 6.7887 12.032 7.37603 12.402C7.57536 12.528 7.7727 12.6487 7.9987 12.7833C8.2247 12.6487 8.42203 12.528 8.62136 12.4027Z" fill="#D8D8D8"></path></svg>
                좋아요 @Model.PostData.Likes
            </span>
            <span>
                <svg width="24" height="24" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.36305 9.91667H11.668V2.91667H2.33464V10.7246L3.36305 9.91667ZM3.76672 11.0833L1.16797 13.125V2.33333C1.16797 2.17862 1.22943 2.03025 1.33882 1.92085C1.44822 1.81146 1.59659 1.75 1.7513 1.75H12.2513C12.406 1.75 12.5544 1.81146 12.6638 1.92085C12.7732 2.03025 12.8346 2.17862 12.8346 2.33333V10.5C12.8346 10.6547 12.7732 10.8031 12.6638 10.9125C12.5544 11.0219 12.406 11.0833 12.2513 11.0833H3.76672Z" fill="#D8D8D8"></path></svg>
                댓글 쓰기
            </span>

        </div>

        @* TODO 링크 community/view/3892 (이전글, 다음글 postId) *@
        <div class="post_buttons">
            <a class="item">목록</a>
            <a class="item">이전글</a>
            <a class="item">다음글</a>
        </div>

        @* <div> 광고 배너 </div> *@

        @* 댓글 영역 *@
        <div class="comments">
            <div class="label">댓글 @Model.CommentListModel.CommentListData.Count</div>

            @await Html.PartialAsync("_WriteComment", new WriteCommentParams // TODO
       {
                    @* Comment 객체 파라미터 *@
            PostId = Model.PostData.PostId,
           UserId = 1, // 사용하지 않는 값, Controller 에서 현재 토큰 정보로 매핑함
           ParentId = null,
           Contents = "",
           IsAnonymous = false,

           ViewParams = new CommentsViewParams
           {
               PostId = Model.CommentListModel.PostId, // Model.PostData.PostId, 와 동일
               Page = Model.CommentListModel.Page,
               CommentPage = Model.CommentListModel.CommentPage ?? 1,
               Category = Model.Category ?? 0,
           }
       })

            <div id="commentList">
                @await Html.PartialAsync("_Comments", Model.CommentListModel)
            </div>

        </div>

        @* 게시판 영역 *@
        <div class="board">

            <div class="item labels">
                <div class="category">게시판</div>
                <div class="title">제목</div>
                <div class="writer">작성자</div>
                <div class="date">날짜</div>
                <div class="views">조회수</div>
            </div>

            @foreach (var item in Model.PostListData)
            {
                <div class="item post @(item.PostId == Model.PostData.PostId ? "selected" : "")">
                    <div class="category">자유 게시판</div> @*TODO Category 에 따라 *@
                    <div class="title">
                        <a asp-area="" asp-controller="Community" asp-action="View"
                           asp-route-postId=@item.PostId
                           asp-route-page=@Model.Page
                           asp-route-category=@Model.Category
                           asp-route-commentPage=@null>@item.Title @item.PostId</a> @* TODO 임시 postId 지울 것 *@
                    </div> @* 클릭 시 페이지 이동 처리 필요*@
                    <div class="writer">@item.UserName</div>
                    <div class="date">@(item.CreateDate?.ToString("yyyy.MM.dd"))</div> @* 7일 전 처리 필요 *@
                    <div class="views">@item.Views</div>
                </div>
            }
        </div>

        @* 페이지 인디케이터 영역 *@
        @{
            // TODO 가능하면 간소화 필요
            int page = Model.Page ?? 1;
            int count = BoardViewModel.DisplayPageCount;
            int first_center_index = count / 2 + 1;
            int start = Math.Max(page - (count - 1) / 2, 1);
            int offset_left = (first_center_index > page) ? first_center_index - page : 0;
            int end = Math.Min(page + offset_left + (count - 1) / 2, Model.PageCount);
            int offset_right = (start + count - 1) - end;

            start = Math.Max(start - offset_right, 1);

            Console.WriteLine($"####### page: {page}, offset: [{offset_left}, {offset_right}], start: {start}, end: {end}, display: {BoardViewModel.DisplayPageCount}");

            if (Model.PostListData.Count > 0)
            {
                <div class="page_indicator">
                    <a asp-area="" asp-controller="Community" asp-action="View" asp-route-postId=@Model.PostData.PostId asp-route-category=@Model.Category asp-route-page=1>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="#C4C4C4"></rect><path d="M9.99999 9.33317L14.6115 6.25867C14.6491 6.23362 14.6929 6.21924 14.738 6.21708C14.7832 6.21492 14.8281 6.22505 14.868 6.2464C14.9079 6.26774 14.9412 6.2995 14.9644 6.33829C14.9877 6.37708 15 6.42145 15 6.46667V13.5327C15 13.5779 14.9877 13.6223 14.9644 13.661C14.9412 13.6998 14.9079 13.7316 14.868 13.7529C14.8281 13.7743 14.7832 13.7844 14.738 13.7823C14.6929 13.7801 14.6491 13.7657 14.6115 13.7407L9.99999 10.6662V13.5327C9.99997 13.5779 9.98768 13.6223 9.96443 13.661C9.94119 13.6998 9.90786 13.7316 9.86799 13.7529C9.82812 13.7743 9.78321 13.7844 9.73804 13.7823C9.69287 13.7801 9.64914 13.7657 9.61149 13.7407L4.31199 10.2077C4.27775 10.1848 4.24968 10.1539 4.23026 10.1176C4.21084 10.0813 4.20068 10.0408 4.20068 9.99967C4.20068 9.95851 4.21084 9.918 4.23026 9.88171C4.24968 9.84543 4.27775 9.8145 4.31199 9.79167L9.61149 6.25867C9.64914 6.23362 9.69287 6.21924 9.73804 6.21708C9.78321 6.21492 9.82812 6.22505 9.86799 6.2464C9.90786 6.26774 9.94119 6.2995 9.96443 6.33829C9.98768 6.37708 9.99997 6.42145 9.99999 6.46667V9.33317Z" fill="white"></path></svg>
                        처음
                    </a>

                    @for (var i = start; i <= end; i++)
                    {
                        <a class=@(i == Model.Page ? "selected" : "") asp-area="" asp-controller="Community" asp-action="View" asp-route-postId=@Model.PostData.PostId asp-route-category=@Model.Category asp-route-page=@i>@i</a>
                    }

                    <a asp-area="" asp-controller="Community" asp-action="View" asp-route-postId=@Model.PostData.PostId asp-route-category=@Model.Category asp-route-page=@Model.PageCount>
                        마지막
                        <svg style="transform: rotate(180deg)" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="#C4C4C4"></rect><path d="M9.99999 9.33317L14.6115 6.25867C14.6491 6.23362 14.6929 6.21924 14.738 6.21708C14.7832 6.21492 14.8281 6.22505 14.868 6.2464C14.9079 6.26774 14.9412 6.2995 14.9644 6.33829C14.9877 6.37708 15 6.42145 15 6.46667V13.5327C15 13.5779 14.9877 13.6223 14.9644 13.661C14.9412 13.6998 14.9079 13.7316 14.868 13.7529C14.8281 13.7743 14.7832 13.7844 14.738 13.7823C14.6929 13.7801 14.6491 13.7657 14.6115 13.7407L9.99999 10.6662V13.5327C9.99997 13.5779 9.98768 13.6223 9.96443 13.661C9.94119 13.6998 9.90786 13.7316 9.86799 13.7529C9.82812 13.7743 9.78321 13.7844 9.73804 13.7823C9.69287 13.7801 9.64914 13.7657 9.61149 13.7407L4.31199 10.2077C4.27775 10.1848 4.24968 10.1539 4.23026 10.1176C4.21084 10.0813 4.20068 10.0408 4.20068 9.99967C4.20068 9.95851 4.21084 9.918 4.23026 9.88171C4.24968 9.84543 4.27775 9.8145 4.31199 9.79167L9.61149 6.25867C9.64914 6.23362 9.69287 6.21924 9.73804 6.21708C9.78321 6.21492 9.82812 6.22505 9.86799 6.2464C9.90786 6.26774 9.94119 6.2995 9.96443 6.33829C9.98768 6.37708 9.99997 6.42145 9.99999 6.46667V9.33317Z" fill="white"></path></svg>
                    </a>
                </div>
            }
        }

    </div>

    <aside class="community_aside_right">
        광고 배너 영역
    </aside>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 유저 정보 영역
        $('#UserInformationForm').submit();

        // 게시판 네비게이션 메뉴
        $('#BoardNavigationMenuForm').submit();
    });

    function deleteComfirm() {
        if (confirm("정말로 게시글을 삭제 하시겠습니까?")) {
            document.getElementById('delete_post_form').submit();
        }
    }
</script>