@model MvcBoard.Models.Community.WriteViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var BoardTitle = "게시물 작성";

    ViewData["Title"] = BoardTitle;

    List<SelectListItem> categoryList = new List<SelectListItem>();

    // 게시판 데이터
    foreach(var boardType in Model.BoardTypes)
    {
        // 하위 게시판을 갖는 부모 게시판이거나(IsParent), 특수한 게시판인 경우(전체, 인기, 공지) 제외 처리
        if (boardType.IsWritable)
        {
            categoryList.Add(new SelectListItem { Text = boardType.BoardName, Value = boardType.Category.ToString() });
        }
    }
}

<div class="community">

    <aside class="community_aside_left">

        @* 로그인 정보 Partial View *@
        <div id="user_info_container"></div>
        @using (Html.AjaxBeginForm("UserInformation", "User", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "user_info_container" }, new { id = "UserInformationForm" })) { }

        @* 게시판 네비게이션 메뉴 Partail View *@
        <div id="board_nav_container"></div>
        @using (Html.AjaxBeginForm("BoardNavigationMenu", "Community", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "board_nav_container" }, new { id = "BoardNavigationMenuForm" }))
        {
            @Html.Hidden("selectedCategory", Model.PostData.Category)
        }

    </aside>

    <div class="community_main write">
        <h3 class="title">@BoardTitle</h3>

        @* <div class="category_dropbox">게시판 선택 (모달) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 태그 없음 (모달)</div> *@

        <button type="button" id="openCategoryModalBtn" class="openCategoryModalBtn">
            <span id="categoryModalBtn_text">게시판 선택</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.00048 8.78145L11.3005 5.48145L12.2431 6.42411L8.00048 10.6668L3.75781 6.42411L4.70048 5.48145L8.00048 8.78145Z" fill="black"></path></svg>
        </button>
        <span class="text-danger" asp-validation-for="PostData.Category"></span>

        @using (Html.BeginForm("Write", "Community", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.PostData.PostId, new { @value = Model.PostData.PostId })
            @Html.HiddenFor(m => m.PostData.UserId, new { @value = Model.PostData.UserId })
            @Html.HiddenFor(m => m.PostData.CreateDate, new { @value = Model.PostData.CreateDate })

            @Html.HiddenFor(m => m.PostData.Category, new { @id = "CategoryValue", @name = "Category", @value = Model.PostData.Category })

            <hr />
            @Html.TextBoxFor(m => m.PostData.Title, new { @class = "intput_title", @placeholder = "제목을 입력해주세요.", @value = Model.PostData.Title })
            <span class = "text-danger" asp-validation-for="PostData.Title"></span>
            <hr />

            @Html.TextAreaFor(m => m.PostData.Contents, new { @class = "editor", @value = Model.PostData.Contents })
            // TODO Trumbowyg 에디터에 placeholder 적용하는 방법 알아보기
            <div><span class="text-danger" asp-validation-for="PostData.Contents"></span></div>

            <input class="input_tag" placeholder="TODO # 태그 입력"/>

            <div class="button_area">
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Community")'">취소</button>
                <button type="submit" class="btn btn-secondary">게시하기</button>
            </div>
        }

        @* 카테고리 선택 모달 *@
         <div id="CategoryModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>             
                @Html.DropDownListFor(model => model.PostData.Category, categoryList, "게시판 선택", new { @id = "categoryItemList", @class = "form-control" })
            </div>
        </div>

    </div>

    <aside class="community_aside_right">
        광고 배너 영역
    </aside>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 유저 정보 영역
        $('#UserInformationForm').submit();

        // 게시판 네비게이션 메뉴
        $('#BoardNavigationMenuForm').submit();
    });
</script>

<script>

    var categoryList;

    // 최초 진입 시, 선택된 카테고리 텍스트 세팅
    document.addEventListener('DOMContentLoaded', function () {

        var string = "";
        var category = @Model.PostData.Category;
        var selectedValue = document.getElementById('CategoryValue');

        categoryList = @Json.Serialize(categoryList);
       
        if (category == '0') {
            string = "게시판 선택";
            selectedValue.value = '0';
        }
        else {
            for (var i = 0; i < categoryList.length; i++) {
                if (category == categoryList[i].value) {
                    string = categoryList[i].text;
                    var dropDownList = document.getElementById('categoryItemList');
                    dropDownList.value = category + "";
                    selectedValue.value = category + "";
                }
            }
        }

        $('#categoryModalBtn_text').text(string);
    })

    // 게시판 선택 버튼 클릭 시 모달 띄우기
    document.getElementById('openCategoryModalBtn').addEventListener('click', function () {
        var modal = document.getElementById('CategoryModal');
        modal.style.display = 'block';
    });

    // X 버튼 클릭 시 닫힘
    document.querySelector('.close').addEventListener('click', function () {
        var modal = document.getElementById('CategoryModal');
        modal.style.display = 'none';
    });

    // 배경 영역 클릭 시 닫힘
    document.getElementById('CategoryModal').addEventListener('click', function (e) {
        if (e.target == this) this.style.display = 'none';
    })

    // 게시판 항목 선택 시 값 처리 - TODO 동일 항목 선택 시 안닫히고 있음 -> dropDown 에서 다른 형태로 변경하면 해결 될 듯
    document.getElementById('categoryItemList').addEventListener('change', function () {
        var selectedValue = document.getElementById('CategoryValue');
        var modal = document.getElementById('CategoryModal');
        var selectedItem = modal.querySelector('select').value;

        if (selectedItem == '') selectedItem = '0';

        selectedValue.value = selectedItem;
        modal.style.display = 'none';

        var string = "";

        if (selectedItem == '0') {
            string = "게시판 선택";
        }
        else {
            for (var i = 0; i < categoryList.length; i++) {
                if (selectedItem == categoryList[i].value) {
                    string = categoryList[i].text;
                }
            }
        }

        $('#categoryModalBtn_text').text(string);
    });

</script>