@model MvcBoardAdmin.Controllers.Response.ReadPostsResponse;

<div class="post_list">

    @if (Model.ResultCode == 200)
    {
        <div class="total_count">(총 @(Model.ViewModel.TotalRowCount)건)</div>

        <div class="item labels">
            <div class="id">고유 번호</div>
            <div class="board_name">게시판</div>
            <div class="title">제목</div>
            <div class="comment">댓글</div>
            <div class="writer">작성자</div>
            <div class="date">날짜</div>
            <div class="views">조회수</div>
        </div>

        @foreach (PostWithUser post in Model.ViewModel.PostList)
        {
            @* <a href="javascript:updatePostEditor(@user.UserId);"> *@
            <div class="item post @(post.IsNotice? "notice" : "") @(post.IsDeleted? "deleted" : "") @(post.IsBlinded? "blinded" : "")">
                @* TODO css *@

                <div class="id">@post.PostId</div>
                <div class="board_name">@post.BoardName</div>
                <div class="title">@post.Title</div>
                <div class="comment">@post.CommentCount</div>
                <div class="writer">@post.UserName</div>
                <div class="date">@post.CreateDate?.ToString("yyyy.MM.dd")</div>
                <div class="views">@post.Views</div>


                <button type="button" onclick="updatePostEditor(@post.PostId)" class=" btn btn-outline-primary btn-sm edit_button">수정</button>
                <button type="button" onclick="deletePost(@post.UserId, @true)" class=" btn btn-outline-danger btn-sm edit_button">블라인드</button>
                <button type="button" onclick="deletePost(@post.UserId, @false)" class=" btn btn-outline-danger btn-sm edit_button">삭제</button>
            </div>
            @* </a> *@
        }

        @* 페이지 인디케이터 *@
        @if (Model.ViewModel.PostList.Count > 0)
        {
            <div class="page_indicator">
                @* TODO Question a 태그 클릭 처리 *@
                <a href="javascript:updatePostList(1);">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="#C4C4C4"></rect><path d="M9.99999 9.33317L14.6115 6.25867C14.6491 6.23362 14.6929 6.21924 14.738 6.21708C14.7832 6.21492 14.8281 6.22505 14.868 6.2464C14.9079 6.26774 14.9412 6.2995 14.9644 6.33829C14.9877 6.37708 15 6.42145 15 6.46667V13.5327C15 13.5779 14.9877 13.6223 14.9644 13.661C14.9412 13.6998 14.9079 13.7316 14.868 13.7529C14.8281 13.7743 14.7832 13.7844 14.738 13.7823C14.6929 13.7801 14.6491 13.7657 14.6115 13.7407L9.99999 10.6662V13.5327C9.99997 13.5779 9.98768 13.6223 9.96443 13.661C9.94119 13.6998 9.90786 13.7316 9.86799 13.7529C9.82812 13.7743 9.78321 13.7844 9.73804 13.7823C9.69287 13.7801 9.64914 13.7657 9.61149 13.7407L4.31199 10.2077C4.27775 10.1848 4.24968 10.1539 4.23026 10.1176C4.21084 10.0813 4.20068 10.0408 4.20068 9.99967C4.20068 9.95851 4.21084 9.918 4.23026 9.88171C4.24968 9.84543 4.27775 9.8145 4.31199 9.79167L9.61149 6.25867C9.64914 6.23362 9.69287 6.21924 9.73804 6.21708C9.78321 6.21492 9.82812 6.22505 9.86799 6.2464C9.90786 6.26774 9.94119 6.2995 9.96443 6.33829C9.98768 6.37708 9.99997 6.42145 9.99999 6.46667V9.33317Z" fill="white"></path></svg>
                    처음
                </a>

                @for (var i = Model.ViewModel.IndicatorRange.start; i <= Model.ViewModel.IndicatorRange.end; i++)
                {
                    <a href="javascript:updatePostList('@i');" class=@(i == Model.ViewModel.PageIndex ? "selected" : "")>
                        @i
                    </a>
                }

                <a href="javascript:updatePostList('@Model.ViewModel.TotalPageCount');">
                    @* <a href="#" id="anchorId"> *@
                    마지막
                    <svg style="transform: rotate(180deg)" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="#C4C4C4"></rect><path d="M9.99999 9.33317L14.6115 6.25867C14.6491 6.23362 14.6929 6.21924 14.738 6.21708C14.7832 6.21492 14.8281 6.22505 14.868 6.2464C14.9079 6.26774 14.9412 6.2995 14.9644 6.33829C14.9877 6.37708 15 6.42145 15 6.46667V13.5327C15 13.5779 14.9877 13.6223 14.9644 13.661C14.9412 13.6998 14.9079 13.7316 14.868 13.7529C14.8281 13.7743 14.7832 13.7844 14.738 13.7823C14.6929 13.7801 14.6491 13.7657 14.6115 13.7407L9.99999 10.6662V13.5327C9.99997 13.5779 9.98768 13.6223 9.96443 13.661C9.94119 13.6998 9.90786 13.7316 9.86799 13.7529C9.82812 13.7743 9.78321 13.7844 9.73804 13.7823C9.69287 13.7801 9.64914 13.7657 9.61149 13.7407L4.31199 10.2077C4.27775 10.1848 4.24968 10.1539 4.23026 10.1176C4.21084 10.0813 4.20068 10.0408 4.20068 9.99967C4.20068 9.95851 4.21084 9.918 4.23026 9.88171C4.24968 9.84543 4.27775 9.8145 4.31199 9.79167L9.61149 6.25867C9.64914 6.23362 9.69287 6.21924 9.73804 6.21708C9.78321 6.21492 9.82812 6.22505 9.86799 6.2464C9.90786 6.26774 9.94119 6.2995 9.96443 6.33829C9.98768 6.37708 9.99997 6.42145 9.99999 6.46667V9.33317Z" fill="white"></path></svg>
                </a>
            </div>
        }

        @* 업데이트용 *@
        @using (Html.AjaxBeginForm("PostListPartial", "Post", new AjaxOptions {HttpMethod = "Get", UpdateTargetId = "post_list_container"@* , OnComplete = ""  *@}, new { id = "PostListForm_update" }))
        {
            @Html.Hidden("BoardhFilter", Model.ViewModel.ExBoardFilter);
            @Html.Hidden("SearchFilter", Model.ViewModel.ExSearchFilter);
            @Html.Hidden("SearchWord", Model.ViewModel.ExSearchWord);
            @Html.Hidden("Page", Model.ViewModel.PageIndex, new { id = "page_index_val" });
        }

        @* 삭제 / 블라인드 처리용 *@
        @using (Html.AjaxBeginForm("Delete", "Post", new AjaxOptions { HttpMethod = "Post", OnComplete = "OnDeleteResponse" }, new { id = "DeletePostForm" }))
        {
            @Html.Hidden("PostId", 0, new { id = "delete_postId_val" });
            @Html.Hidden("IsBlind", 1, new { id = "delete_isBlind_val" });
        }
    }

</div>

<script>
    /* 최초 생성 시 ResultCode 에 따른 처리 */
    (function () {
        var msg = @Html.Raw(Json.Serialize(Model.Message));
        var Errormsg = @Html.Raw(Json.Serialize(Model.ErrorMessages));

        var AllMessages = "";
        AllMessages += msg + "\n";
        for (var i = 0; i < Errormsg.length; i++) {
            AllMessages += Errormsg[i] + "\n";
        }

        if (@Model.ResultCode != 200) {
            showAlert(AllMessages, true);
        }
    })();

    /* 유저 리스트 업데이트 함수 -> Index.cshtml 이관 */
    function updatePostList(page) {
        $('#page_index_val').val(page);
        $('#PostListForm_update').submit();
    }

    //  todo 임시
    function updatePostEditor() {

    }

    /* 게시물 삭제 or 블라인드 처리 요청 */
    function deletePost(postId, isBlind) {
        var msg = isBlind ? "해당 게시물을 블라인드 처리 하시겠습니까?" : "해당 게시물을 정말 삭제하시겠습니까?";

        $('#delete_postId_val').val(postId);
        $('#delete_isBlind_val').val(isBlind);

        if (confirm(msg)) {
            $('#DeletePostForm').submit();
        }
    }

    /* 유저 삭제 요청 응답 핸들러 */
    function OnDeleteResponse(xhr, status) {
        // if (xhr.status === 200) {} 항상 return OK 로 반환

        var response = JSON.parse(xhr.responseText);

        switch (response.resultCode) {
            // 성공
            case 200: {
                updatePostList(1);
                // memberEditorExit();
                break;
            }
            // 입력값 오류 (ModelState 참고하여 처리 필요)
            case 201: {
                showAlert(response.message, false);
                break;
            }
            default: {
                showAlert(response.message, false);
                break;
            }
        }
    }

</script>