@model MvcBoardAdmin.Models.Post.PostManageViewModel

@{
    ViewData["Title"] = "게시물 관리";
    ViewData["NavIndex"] = 3;

    // TODO 초기값 로직 지울 수도 있음

    int index = 0;
    string searchWord = "";

    // 게시판 필터 설정
    List<SelectListItem> BoardFilters = new List<SelectListItem>();
    BoardFilters.Add(new SelectListItem { Text = "전체 게시판", Value = "0"});

    for (int i = 0; i < Model.WritableBoards.Count; i ++)
    {
        BoardType board = Model.WritableBoards[i];
        BoardFilters.Add(new SelectListItem { Text = board.BoardName, Value = board.Category.ToString() });

        if (Model.Params?.BoardFilter == board.Category)
        {
            index = i;
        }
    }
    // 게시판 필터 초기값
    BoardFilters[index].Selected = true;

    // TODO 인기, 공지는 따로 처리해야 함
    // BoardFilters.Add(new SelectListItem { Text = "인기 게시판", Value = "1" });
    // BoardFilters.Add(new SelectListItem { Text = "공지 게시판", Value = "2" });

    // 검색 필터 설정
    List<SelectListItem> SearchFilters = new List<SelectListItem>();
    SearchFilters.Add(new SelectListItem { Text = "게시물 번호", Value = "PostId" }); // TODO 내용 뒤로 옮길 것 
    SearchFilters.Add(new SelectListItem { Text = "제목", Value = "Title"/* , Selected = true  */});
    SearchFilters.Add(new SelectListItem { Text = "내용", Value = "Contents" });
    SearchFilters.Add(new SelectListItem { Text = "아이디", Value = "Id" });
    SearchFilters.Add(new SelectListItem { Text = "닉네임", Value = "Name" });
    SearchFilters.Add(new SelectListItem { Text = "사용자 번호", Value = "UserId" });


    // TODO Question 왜 주석 처리 해도 url 에 값 넣어주면 정상적으로 매핑이 되지? Html.DropDownList 바인딩 때문?

    if (Model.Params != null)
    {
        // 검색 필터 초기값
        // if (Model.ReadPostsParams.SearchFilter.Length > 0) { }
        foreach (var filter in SearchFilters)
        {
            // if (filter.Value == Model.ReadPostsParams.SearchFilter) 
            if (filter.Value.ToLower() == Model.Params.SearchFilter2.ToLower()) // 대소문자 때문이었네, 바인딩 된 파라미터는 대소문자 구분 상관없고..
            {
                filter.Selected = true;
                index = -1;
            }
        }
        // 초기값 설정하지 못했으면 Default 제목 선택
        if (index != -1)
        {
            // TODO Question 왜 안되지.. 그냥 바인딩 때문에 아예 안먹히는 것 같은데 -> SearchFilter 에 값이 있는데 못찾으면, 첫 항목 선택 | 값이 없으면 (SearchWord2 로 값 넣으면) 또 잘 설정됨
            SearchFilters[1].Selected = true; 
        }

        // 검색어 초기값 -> 그럼 얘도 필요 없는 것 아닌가
        searchWord = (Model.Params.SearchWord?.Length > 0 ? Model.Params.SearchWord : "");
    }
    
}

<link rel="stylesheet" href="@(Url.Content("~/css/post.css"))" />

<div class="manage_post_index">

    @* 왼쪽 메인 영역 *@
    <div class="index_main">
        <a asp-area="" asp-action="Index" asp-controller="Post" class="title_anchor">
            <h4>게시물 관리</h4>
        </a>
        <hr/>

        <div class="search_box">
            @using (Html.AjaxBeginForm("PostListPartial", "Post", new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "post_list_container"@* , OnComplete = ""  *@}, new { id = "PostListForm" }))
            {
                @Html.DropDownList("BoardFilter", BoardFilters, new { @id = "BoardFilterList", @class = "search_filter_drop"/* "form-control" */ })
                @Html.DropDownList("SearchFilter", SearchFilters, new { @id = "SearchFilterList", @class = "search_filter_drop"/* "form-control" */ })
                @Html.TextBox("SearchWord", searchWord, new { @class = "search_word_input", @placeholder = "", @autoComplete = "off" })
                <button type="submit" class="btn btn-outline-secondary btn-sm search_button">검색</button>
            }
        </div>

        @* 게시물 리스트 *@
        <div id="post_list_container" class=""></div>

       
    </div>
    
    @* 오른쪽 영역 *@
    <div class="index_right">
        
        @* 게시물 에디터 Partial View  *@
        <div id="post_editor_container"></div>
        @using (Html.AjaxBeginForm("PostEditorPartial", "Post", new AjaxOptions { HttpMethod = "Get",UpdateTargetId = "post_editor_container"}, new { id = "PostEditorForm" }))
        {
            @Html.Hidden("PostId", "", new { id = "editor_postId_val" });
        }

    </div>
    
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // 최초 진입 시
        $('#PostListForm').submit();
    });
    
    // TODO 만약 해당 페이지에 항목이 1개 남은 상태에서 삭제한 경우, 이전 페이지로 가도록 처리 필요
    /* 게시물 리스트 업데이트 함수 */ 
    function UpdatePostList(page) {
        if (page > 0) { // 페이지 이동 없는 경우 유지 (페이지 이동이 아닌 수정 or 삭제로 불린 경우)
            $('#page_index_val').val(page);
        }
        $('#PostListForm_update').submit();
    }

    /* 유저 에디터 로드 함수 */
    function UpdatePostEditor(postId) {
        $('#editor_postId_val').val(postId);
        $('#PostEditorForm').submit();
    }

    /* 오류 문구 노출 */
    function ShowAlert(message, exit) {

        alert(message);

        if (exit) {
            // memberEditorExit();
        }
    }

</script>
 