@model MvcBoardAdmin.Controllers.Response.ReadBoardTypeResponse;

@{
}

<div class="board_list">

    @if (Model.ResultCode == 200)
    {
        @foreach (var board in Model.BoardTypes)
        {
            // 고정 게시판 (전체, 인기, 공지) 은 편집 불가하므로 제외
            if (board.BoardId < 4)
            {
                continue;
            }

            <div class="item">
                <div class="name" onclick="updateBoardEditor(@board.BoardId)">
                    @board.BoardName (@board.Category)
                </div>

                @if (board.Children.Count > 0)
                {
                    <div class="child">
                        @foreach (var child in board.Children)
                        {
                            <div class="child_name" onclick="updateBoardEditor(@child.BoardId)">
                                @child.BoardName  (@child.Category)
                            </div>
                        }
                    </div>
                }
            </div>
        }
    }
    
</div>

<script>
    /* 최초 생성 시 ResultCode 에 따른 처리 */
    (function () {
        var msg = @Html.Raw(Json.Serialize(Model.Message));
        var Errormsg = @Html.Raw(Json.Serialize(Model.ErrorMessages));
        
        var AllMessages = "";
        AllMessages += msg + "\n";
        for (var i = 0; i < Errormsg.length; i++) {
            AllMessages += Errormsg[i] + "\n";
        }

        if (@Model.ResultCode != 200) {
            showAlert(AllMessages, true);
        }
    })();
</script>